
html *{  
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
}

#header {
    padding-top: 10%;
    background-color: #ACE5FC;
    width: 100%;    
}

#imperial{
    margin-top: 20px;
}

.box {
    width: 100%;
    background-color: white;
    height: 800px;
    border-radius: 24px;
    padding-top:10%;

}

.box2{
    width: 100%;
    background-color: white;
    height: 800px;
    padding-top:2%;
}

.c{
    margin-left: 5%;
    margin-right: 5%;
    width:40%;
    float:left;
    padding: 2%;
    height: 350px;
}

.page{
    padding-left: 10%;
    padding-right: 10%;
    height: 800px;   
}

#content{
    float: left;
    width: 100%;
}

#robot{
    background-color: #9BBDF9;
}

#subtitle {
    font-size: 36px;
    width: 50%;
    margin:auto;
}


.pagehead{
    font-size: 36px;
    width: 50%;
    margin:auto;
    text-align: center; 
    border-bottom: 2px solid black;
    margin-bottom: 2%;
}

#beemore{
  
    background-color: rgb(250,194,11);
    
}

p{
    font-size:24px;
}

#beelogo{
    float: right;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }





